@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Jolly+Lodger&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Libre+Franklin&family=M+PLUS+1:wght@500&family=Merriweather+Sans:wght@600&family=Oswald:wght@300&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Jolly+Lodger&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Libre+Franklin&family=M+PLUS+1:wght@500&family=Merriweather+Sans:wght@600&family=Oswald:wght@300&family=PT+Sans+Narrow&family=Paytone+One&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Joan&family=Jolly+Lodger&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Libre+Franklin&family=M+PLUS+1:wght@500&family=Merriweather+Sans:wght@600&family=Oswald:wght@300&family=PT+Sans+Narrow&family=Paytone+One&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');

/* default body styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Paytone One, sans-serif;
}

/* main element styling */
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/spider-man-far-from-home-cover-art\ \(1\).jpg) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* heading styling */
h1 {
    font-family: "Jolly Lodger", sans-serif;
    color: white;
    font-size: 260%;
    letter-spacing: 5px;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    padding: 5px;
}

h1>.fa-solid {
    color: #020224
}

h1>.fa-solid:hover {
    color: black;
}

/* container styling */
.game-quiz-container {
    width: 80vw;
    max-width: 80%;
    background-image: linear-gradient(rgb(196, 23, 23), #660808);
    height: 80vh;
    box-shadow: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    margin: auto;
}
/* buttons styling */
#button-help {
    font-size: 150%;
    font-family: Paytone One, sans-serif;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #020214;
    background-image: linear-gradient(rgb(248, 35, 35), #a31212);
    cursor: pointer;
    float: left;
    margin-left: 2%;
}

#button-help,
p {
    width: fit-content;
    height: fit-content;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    color: white;
}

#button-audio {
    font-size: 150%;
    font-family: Paytone One, sans-serif;
    float: right;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #020214;
    background-image: linear-gradient(rgb(248, 35, 35), #a31212);
    cursor: pointer;
}

#button-audio,
p {
    width: fit-content;
    height: fit-content;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    color: white;
}

#button-home {
    font-size: 150%;
    font-family: Paytone One, sans-serif;
    float: right;
    margin: 10px;
    height: 37px;
    border-radius: 5px;
    border: 2px solid #020214;
    background-image: linear-gradient(rgb(248, 35, 35), #a31212);
    cursor: pointer;
}

#button-home,
p {
    padding-right: 5px;
    padding-left: 5px;
    width: fit-content;
    text-align: center;
    color: white;
}

#button-contact {
    font-size: 150%;
    font-family: Paytone One, sans-serif;
    float: right;
    margin: 10px;
    height: 37px;
    border-radius: 5px;
    border: 2px solid #020214;
    background-image: linear-gradient(rgb(248, 35, 35), #a31212);
    cursor: pointer;
    float: right;
}

#button-contact,
p {
    padding-right: 5px;
    padding-left: 5px;
    width: fit-content;
    text-align: center;
    color: white;
}
/* contact links styling */
.contacts {
    display: contents;
    font-size: 1.5rem;
    color: black;
    margin: auto;
}

#links {
    border-top: 2px solid black;
    padding: 10px;
    margin-top: 5%;
    text-align-last: justify;
}

.fa-brands {
    margin-top: 5%;
}

/* game details styling */
.game-details-container {
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-details-container h1 {
    font-size: 1.2rem;
    font-family: Paytone One, sans-serif;
}
/* questionn area styling */
.game-question-container {
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(169, 169, 169, 0.61);
    border-radius: 25px;
    background-color: #020224;
    padding: 5px;
}

.game-question-container h1 {
    font-size: 1.0rem;
    text-align: center;
    padding: 3px;
    font-family: Paytone One, sans-serif;
}

/* answers section styling */
.game-options-container {
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span {
    width: 45%;
    height: 3rem;
    border: 2px solid darkgray;
    border-radius: 20px;
    overflow: hidden;
    background-color: #020224;
}

span label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: #dfdfdf;
    font-size: 100%;
}

span label:hover {
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: white;
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked~.option {
    background: paleturquoise;
}

/* next question button styling */
.next-button-container {
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.next-button-container button {
    width: 3rem;
    height: 1.4rem;
    border-radius: 10px;
    background: none;
    color: white;
    font-weight: bolder;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
}

.next-button-container button:hover {
    background-color: rgb(172, 0, 0);
}

/* score board and select pop up styling */
.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.699);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container {
    height: 80%;
    width: 80%;
    background-color: #06011d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1 {
    font-size: 100%;
    height: 3rem;
    width: 70%;
    color: white;
    text-align: center;
    font-family: Paytone One, sans-serif;
}

/* scores */
.grade-details {
    width: 90%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p {
    color: white;
    text-align: center;
    font-family: Paytone One, sans-serif;
    font-size: 110%
}

/* close button */
.modal-button-container {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button {
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}

.modal-button-container button:hover {
    background-color: rgb(83, 82, 82);
}

/* help page styling */
#help-title {
    font-family: Paytone One, sans-serif;
    font-size: 160%;
    color: #020224;
    text-align: center;
    padding: 10px;
    
}

.help-text {
    font-size: 100%;
    font-family: Paytone One, sans-serif;
    color: #e2f4ff;
    padding: 5px;
    letter-spacing: 2px;
    margin: auto;
}

.help-text>.fa-solid {
    color: #020224;
}

/* sign up form */
#sign-up-form {
    height: 80%;
    width: 80%;
}

form>p {
    color: #e2f4ff;
    font-size: 130%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.input-fields {
    height: 30px;
    width: 80%;
    display: flex;
    border-radius: 5px;
    margin: auto;
    padding-left: 10px;

}

label {
    color: aliceblue;
    font-size: 90%;
    padding-bottom: 20px;
    padding-left: 2%;
}

#button-sub {
    display: flex;
    margin: auto;
    font-size: 130%;
    font-family: Paytone One, sans-serif;
    height: 35px;
    width: 85px;
    border-radius: 5px;
    border-bottom: 2px solid #020214;
    background-image: linear-gradient(rgb(248, 35, 35), #a31212);
    cursor: pointer;
    justify-content: center;
}

#button-sub,
p {
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

::placeholder {
    color: #020214;
    padding-left: 3%;
}
/* footer styling */
footer {
    height: 20px;
    text-align: center;
    font-weight: 100;
    background-color: #020224;
    color: white;
    font-family: "Joan", sans-serif;
    justify-content: center;
    font-size: 90%;
    letter-spacing: 1px;
    border-top: 2px solid black;
}

/* media queries for quiz page*/
/* for screens 1024px and smaller */
@media screen and (max-width: 1040px) {

    /* help text styling */
    .help-text {
        font-size: 100%;
    }

    /* game quiz container styling */
    .game-quiz-container {
        width: 85vw;
        max-width: 80%;
    }
}
/* for screens 2000px and smaller and 1250px and larger */
@media screen and (max-width: 2000px) and (min-width:1250px){
    .game-quiz-container > h1 {
        font-size: 500%;
        margin-bottom: 0%;
    }
    .game-details-container > h1 {
        font-size: 2.2rem;
    }
    .game-question-container {
        height: 11rem;
    }
    .game-question-container > h1 {
        font-size: 2.0rem;
    }
    span label {
        font-size: 150%;
    }
}
/* for screens 1100px and smaller */
@media screen and (max-width: 1100px) and (min-width:913px){
    .game-quiz-container > h1 {
        font-size: 340%;
    }
    .game-question-container > h1 {
        font-size: 1.0rem;
    }
    .game-details-container > h1 {
        font-size: 1rem;
    }
    span label {
        font-size: 100%;
    }
    .fa-arrow-right:before {
        font-size: 200%;
    }
    .next-button-container button {
        width: 5rem;
        height: 1.6rem;
    }
}

/* for screens 412px and smaller */
@media screen and (max-width: 412px) {

    /* styling for h1 */
    h1 {
        font-size: 170%;
    }

    /* styling for answer options */
    span label {
        font-size: 70%;
    }
}

/* for screens 316px and smaller */
@media screen and (max-width: 316px) {

    /* contact button styling */
    #button-contact {
        font-size: 110%;
    }

    /* heading styling */
    h1 {
        font-size: 150%;
    }

    /* score and question tally styling */
    .game-details-container > h1 {
        font-size: 0.7rem;
    }

    /* next button styling */
    .next-button-container {
        width: 60%;
    }
}

/* media queries for help page */
/* for screens 774px and smaller */
@media screen and (max-width: 774px) and (min-width:600px){

    /* heading styling */
    h1 {
        font-size: 200%;
    }
}

/* for screens 629px and smaller */
@media screen and (max-width: 629px) {

    /* help page title styling*/
    #help-title {
        font-size: 100%;
    }

    /* help page text styling */
    .help-text {
        font-size: 70%;
    }
}

/* for screens 449px and smaller */
@media screen and (max-width: 449px) {

    /* help text styling */
    .help-text {
        font-size: 65%;
    }
}

/* for screens 414px and smaller */
@media screen and (max-width: 414px) {

    /* quiz container styling */
    .game-quiz-container {
        width: 82vw;
        max-width: 82vw;
    }

    /* help text styling */
    .help-text {
        font-size: 75%;
    }
}

/* for screens 280px and smaller */
@media screen and (max-width: 280px) {

    /* quiz container styling */

    /* help text styling */
    .help-text {
        font-size: 65%;
    }

    #help-title {
        font-size: 80%;
    }
}

/* for screens 360px and smaller */
@media screen and (max-width: 360px) {

    /* help text styling */
    .help-text {
        font-size: 65%;
    }
    #fav {
        height: 60px;
    }
}

/* media queries for contact and quiz page */
/* for screens 375px and smaller */
@media screen and (max-width: 375px) {

    /* tell us text styling */
    #tell-us {
        display: contents;
        font-size: 90%;
    }

    /* form title styling */
    form>p {
        font-size: 90%;
    }

    /* labels styling */
    label {
        font-size: 90%;
    }
}
/* for screens 280px and smaller */
@media screen and (max-width: 280px) {
    /* sign up form styling */
    #sign-up-form {
        height: 80%;
    }
    /* submit button styling */
    #button-sub {
        padding-left: 2px;
        font-size: 100%;
        width: 72px;
        height: 27px;
    }
    /* form text and labels styling */
    #fav {
        height: 80px;
    }
    #tell-us {
        font-size: 80%;
    }
    label {
        font-size: 80%;
    }

    .game-question-container > h1 {
        font-size: 80%;
    }
}
/* for screens 1024px and smaller*/
@media screen and (max-width: 1024px){
    #sign-up-form {
        height: 80%;
    }
    #fav {
        margin-bottom: 1%;
    }
}
/* for screens 412px and smaller and 395px and larger */
@media screen and (max-width: 412px) and (min-width: 395px){
    #sign-up-form {
        height: 65%;
    }
}

/* for screens 912px and smaller and 770px and larger */
@media screen and (max-width: 912px) and (min-width: 900px) {
    form >p {
        font-size: 230%;
    }
    ::placeholder {
        font-size: 180%;
    }
    label {
        font-size: 200%;
    }
    .input-fields {
        height: 50px;
    }
    #tell-us {
        font-size: 200%;
        padding-top: 15px;
    }
    #fav {
        height: 160px;
        margin-bottom: 10%;
    }
    #button-help, p {
        font-size: 210%;
    }
    .fa-solid {
        font-size: 160%;
    }
    #button-sub {
        font-size: 210%;
        height: 67px;
        width: 185px;
    }

    span label {
        font-size: 120%;
    }

    .game-details-container > h1 {
        font-size: 1.8rem;
    }

    .game-question-container > h1 {
        font-size: 1.5rem;
    }

    .next-button-container button {
        width: 12rem;
        height: 2.8rem;
        font-size: 1.3rem;
    }
}
/* for screens 820px and smaller and 800px and larger*/
@media screen and (max-width: 820px) and (min-width: 800px){
    #fav {
        margin-bottom: 0%;
    }
}
/* media queries for score modal */
/* for screens 414px and smaller*/
@media screen and (max-width: 414px){
    .modal-content-container > h1 {
        font-size: 95%;
        margin-bottom: 40px;
    }
}
/* for screens 281px and smaller*/
@media screen and (max-width: 281px){
    .modal-content-container > h1 {
        font-size: 81%;
    }
}
/* for screens 700px and bigger*/
@media screen and (min-width: 700px){
    .modal-content-container > h1 {
        font-size: 130%;
    }
}
/* media queries for footer */
/* for screens 412px and smaller*/
@media screen and (max-width: 412px){
    footer {
        font-size: 60%;
    }
}
/* for screens 285px and smaller*/
@media screen and (max-width: 285px){
    footer {
        font-size: 45%;
    }
    .game-quiz-container > h1 {
        font-size: 200%;
    }
    .game-quiz-container {
        height: 70vh;
    }
}
